/*
 * Main Color Scheme:
 * #A985C8 - background, data-group:hover
 * #7D52A5- topbar, data-group, title-bar
 * #8D6AAA - appspace, input-data
 * #ABA3FF - a.ins-link
 * #8CAEE6 - input-focus (border), arm-box (hover border)
 * 
 * Dialog Color Scheme:
 * #592D80 - ui-widget-header
 * #784AA2 - ui-widget-content
 */

html {
	font: 10pt arial, sans-serif;
	color: #FFFFFF;
}
body {
	background-color: #A985C8;
	min-width: 350px;
	text-align: center;
}
.topbar {
	text-align: center;
	background-color: #7D52A5;
	margin-bottom: 5px;
	padding: 1px;
}
a.ins-link {
	color: #ABA3FF;
	cursor: default;
}
a.ins-link:hover {
	text-decoration: underline;
}
.choose-box {
	display: inline-block;
	border-radius: 6px;
	border-style: solid;
	border-color: #A985C8;
	background-color: #8D6AAA;
	border-width: 2px;
	cursor: default;
}
.choose-box:hover,.choose-box-active {
	border-color: #8CAEE6;
}
.choose-box-label {
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.arm-box {
	width: 40px;
	height: 40px;
}
.arm-box-label {
	font-size: 25px;
	top: 5px;
}
.sup-enh-toggle {
	font-style: italic;
	width: 30px;
}
.sup-enh-toggle-label {
	font: 10pt georgia, sans-serif;
	font-size: 25px;
	font-style: italic;
}
.appspace {
	background-color: #8D6AAA;
	padding: 10px;
	max-width: 940px;
	display: inline-block;
}
.data-group {
	background-color: #7D52A5;
	padding: 10px;
	width: 290px;
	height: 290px;
	float: left;
}
#sup_data_group, #neu_data_group {
	margin-right: 5px;
}
#col_data_group {
	margin-top: 5px;
}
.input-data {
	background-color: #8D6AAA;
	padding: 10px;
}
.input-data:hover,.input-data-hover {
	background-color: #A985C8;
	/*Rest of dynamic behavior found in display-controls.js*/
}
.title-bar {
	font: 10pt georgia, sans-serif;
	font-size: 20px;
	font-style: italic;
	position: relative;
}
.title-bar-text {
	
}
input {
	width: 270px;
	display: block;
}
input:hover,input:focus,input.input-focus {
	border-style: solid;
	border-color: #8CAEE6;
	border-width: 2px;
	/*Rest of dynamic behavior found in display-controls.js*/
}
.button-data {
	background-color: #8D6AAA;
	padding: 10px;
	width: 160px;
	height: 220px;
}
button.single {
	height: 25px;
	border-radius: 6px;
	font-weight: bold;
	position: relative;
}
button.single:hover {
	background-color: #FFFFFF;
}
button.single:active {
	background-color: #5F5964;
}
button.load {
	width: 24px;
	height: 22px;
	bottom: 4px;
}
button.play {
	height: 20px;
	width: 100px;
	top: 4px;
}
button.clear {
	position: absolute;
	width: 24px;
	right: 0px;
	height: 22px;
	bottom: 2px;
}
button.algorithm {
	margin-top: 5px;
}
select.listbox {
	width: 270px;
	height: 225px;
	font: 10pt arial, sans-serif;
}
textarea {
	resize: none;
	width: 270px;
	height: 225px;
	display: block;
	font: 10pt arial, sans-serif;
}
@media (max-width: 1000px) {
	.appspace {
		max-width: 625px;
	}
	#neu_data_group {
		margin-right: 0px;
	}
	#rem_data_group {
		margin-top: 5px;
		margin-right: 5px;
	}
}
@media (max-width: 680px) {
	.appspace {
		max-width: 310px;
	}
	.data-group {
		margin-right: 0px;
	}
	#neu_data_group {
		margin-top: 5px;
	}
}
#dialog-confirm {
	font-style: italic;
	position: relative;
	top: 5px;
}
#fixed-dialog {
	position: fixed;
	/* 
	 * jQuery-UI work-around: Rest of CSS applied 
	 * dynamically and directly to element after
	 * modal dialog box initilization. It is located
	 * in display_controls.js under function 
	 * showInstructions().
	 */
}