html {
	font: 10pt georgia, sans-serif;
}
body {
	background-color: #CDBFDD;
	min-width: 200px;
	max-width: 960px;
	float: left;
}
p {
	text-align: justify;
}
.topbar {
	position: relative;
	text-align: center;
	background-color: #9685BA;
	float: left;
	width: 100%;
}
.appspace {
	max-width: 540px;
	background-color: #B7A5DF;
	float: left;
	padding: 10px;
}
.data-group {
	background-color: #9685BA;
	height: 260px;
	width: 12em;
	position: relative;
	float: left;
	padding: 10px;
}
.button-data {
	background-color: #B7A5DF;
	height: 240px;
	padding: 10px;
}
button.single {
	height: 30px;
}
button.clear {
	float: right;
	position: relative;
	bottom: 3px;
}
select.listbox {
	position: relative;
	height: 80%;
	width: 100%;
}
input {
	width: 95%;
}
textarea {
	float: left;
	height: 85%;
	width: 95%;
}
.title-bar {
	height: 10%;
	width: 100%;
	text-align: center;
	font-size: 18px;
}
@media (max-width: 750px) {
	.instruction-text {
		float: left;
	}
}