/* 
 * Design Conventions:
 * A) Because this is a text-based web app,
 *    i.e. the input and the output are both 
 *    text, all minimum sizes will be in em
 *    units, and not px units. This assures
 *    a minimum readable size for most 
 *    laptop and desktop displays.
 * 
 * B) The entire web app will be a constant
 *    font size-derived width and height, 
 *    but inner elements will be scaled by %.
 *    This is simply to remove the need for
 *    manual size calculation, and does not
 *    indicate that elements should scale
 *    directly with the window size.
 * 
 * C) Because of the choice of using em
 *    units, another cornerstone of size
 *    will be the scale of the data and
 *    output themselves. Drosophila
 *    melanogaster chromosome arm lengths
 *    are in the tens of millions only, so
 *    a single data point cannot be more
 *    than 15 (7+7+1) characters long; many
 *    element sizes will reflect this.
 */

html {
	font: 10pt georgia, sans-serif;
}
body {
	background-color: #CDBFDD;
	width: 100%;
	min-width: 20em;
	max-width: 50em;
	height: 150%;
}
p {
	text-align: justify;
}
.topbar {
	position: relative;
	width: 100%;
	height: 12em;
	text-align: center;
	background-color: #9685BA;
	float: left;
}
.appspace {
	width: 100%;
	max-width: 48em;
	height: auto;
	background-color: #B7A5DF;
	float: left;
	padding: 1em;
}
.data-group {
	background-color: #9685BA;
	height: auto;
	min-width: 14em;
	max-width: 14em;
	position: relative;
	float: left;
	padding: 1em;
	width: 35%;
}
.data-group-inputs {

}
.data-group-remaining {

}
.data-group-collapse {

}
.button-data {
	background-color: #B7A5DF;
	position: relative;
	padding: 1em;
	float: left;
	height: 20em;
	width: 12em;
}
button.single {
	width: auto;
	height: 2em;
	position: relative;
}
button.add {
	
}
button.delete {
	
}
button.clear {
	float: right;
	height: 1.5em;
	width: 1.5em;
}
select.listbox {
	position: relative;
	width: 100%;
	height: 82%;
}
input {
	width: 95%;
}
textarea {
	width: 98%;
	height: 87%;
	position: relative;
}
.instruction-text {
	display: block;
}
.title-bar {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 1em;
}