/*
 * Main Color Scheme:
 * #A985C8 - background, data-group:hover
 * #7D52A5- topbar, data-group, title-bar
 * #8D6AAA - appspace, input-data
 * 
 * Dialog Color Scheme:
 * #592D80 - ui-widget-header
 * #784AA2 - ui-widget-content
 */

html {
	font: 10pt arial, sans-serif;
	color: #FFFFFF;
}
body {
	background-color: #A985C8;
	min-width: 250px;
	text-align: center;
}
.topbar {
	text-align: center;
	background-color: #7D52A5;
}
a.ins-link {
	color: blue;
}
.appspace {
	background-color: #8D6AAA;
	padding: 10px;
	max-width: 610px;
	display: inline-block;
}
.data-group {
	background-color: #7D52A5;
	padding: 10px;
	width: 180px;
	height: 270px;
	float: left;
}
#sup_data_group, #neu_data_group {
	margin-right: 5px;
}
#col_data_group {
	margin-top: 5px;
}
.input-data {
	background-color: #8D6AAA;
	padding: 10px;
}
.button-data {
	background-color: #8D6AAA;
	padding: 10px;
	width: 160px;
	height: 220px;
}
.input-data:hover {
	background-color: #A985C8;
}
button.single {
	height: 25px;
	border-radius: 6px;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
	font-weight: bold;
}
button.clear {
	position: absolute;
	right: 0px;
	height: 25px;
	width: 25px;
	bottom: 2px;
}
button.algorithm {
	margin-top: 5px;
}
select.listbox {
	height: 200px;
	width: 160px;
}
input {
	width: 160px;
	display: block;
}
textarea {
	resize: none;
	width: 160px;
	height: 190px;
	display: block;
}
.title-bar {
	font: 10pt georgia, sans-serif;
	font-size: 20px;
	font-style: italic;
	position: relative;
}
@media (max-width: 680px) {
	.appspace {
		max-width: 405px;
	}
	#neu_data_group {
		margin-right: 0px;
	}
	#rem_data_group {
		margin-top: 5px;
		margin-right: 5px;
	}
}
@media (max-width: 460px) {
	.appspace {
		max-width: 200px;
	}
	.data-group {
		margin-right: 0px;
	}
	#neu_data_group {
		margin-top: 5px;
	}
}
#dialog-confirm {
	font-style: italic;
	position: relative;
	top: 5px;
}
